body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(68, 87, 96);

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#dilly-video-container {
      display: none;
      margin-top: 20px;
    }

#still-video-container {
      display: none;
      margin-top: 20px;
    }

#macarena-video-container {
      display: none;
      margin-top: 20px;
    }

#lebron-video-container {
      display: none;
      margin-top: 20px;
    }

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.flexer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup {
    align-items: center;
    padding: 15px 30px;
    background-color: #6d7a88;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
    border-radius: 0.5rem;
    color: white;
    width: 100%;
}

@media only screen and (max-width: 930px) {
    .popup {
        width: 90%;
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 680px) {
    .popup {
        padding: 15px 15px;
    }
}

@media only screen and (max-width: 600px) {
    .popup {
        width: 80%;
        font-size: 1.2rem;
    }

    .flexer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
    }
}

@media only screen and (max-width: 550px) {
    .popup {
        width: 70%;
        font-size: 1rem;

    }
}

@media only screen and (max-width: 475px) {
    .popup {
        font-size: 0.9rem;
        padding: 10px 15px;
    }
}